<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BotUsername" value="email@email.com"/>
    <add key="BotPassword" value="Password123"/>
    <add key="BotOwnerID" value=""/>
  </appSettings>
</configuration>